.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-item {
  padding: 0 16px;
}

.header-container {
  z-index: 1000;
}

.app-container {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

@media (max-width: 600px) {
  .app-container {
    top: 56px;
  }
}
