<div>
  <button id="add-device-button" class="slide-in-right" mat-fab (click)="openAddDeviceDialog()" matTooltip="Add device" matTooltipPosition="above"><mat-icon>add</mat-icon></button>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <mat-card class="group-chooser-card">
          <mat-tab-group class="group-chooser-tab-group" (selectedIndexChange)="selectGroup($event)">
            <mat-tab class="full-width">
              <ng-template mat-tab-label>
                <span class="full-width" droppable (onDrop)="deviceService.addDeviceToGroup($event.dragData.id, 'null')">Unassigned Devices</span>
              </ng-template>
            </mat-tab>
            <mat-tab class="full-width" *ngFor="let group of groupService.items | async">
              <ng-template mat-tab-label>
                <span class="full-width" droppable (onDrop)="deviceService.addDeviceToGroup($event.dragData.id, group.id)">{{ group.name }}</span>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
          <button class="add-group-button" mat-icon-button (click)="openAddGroupDialog()" matTooltip="Add group" matTooltipPosition="below"><mat-icon>add</mat-icon></button>
        </mat-card>
      </div>
      <div class="col-xs-12 col-md-6" *ngFor="let device of selectedDevices | async">
        <mat-card class="device-card slide-in" draggable [dragData]="device">
          <div class="device-type-icon-container primary-background pull-left center-content-vertically center-content-horizontally">
            <i class="device-icon material-icons" *ngIf="device.type === DeviceType.SENSOR">track_changes</i>
            <i class="device-icon material-icons" *ngIf="device.type === DeviceType.ACTOR">volume_up</i>
            <i class="device-icon material-icons" *ngIf="device.type === DeviceType.CIRCUIT_BREAKER">radio_button_checked</i>
          </div>
          <div class="pull-left full-height center-content-vertically device-name-container">
            <span class="truncate">{{ device.id }}</span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
