.group-chooser-card {
  padding: 0;
}

.mat-tab-labels {
  justify-content: space-around;
}

.mat-tab-label {
  width: 100%;
}

.device-card {
  margin-top: 16px;
  height: 52px;
}

.device-type-icon-container {
  width: 100px;
  height: 100px;
}

.device-type-icon-container {
  margin: -24px !important;
  margin-right: 0 !important;
}

.device-name-container {
  padding-left: 24px;
  width: calc(100% - 100px);
}

@media (max-width: 600px) {
  .device-type-icon-container {
    margin-left: -16px !important;
  }

  .device-name-container {
    padding-left: 16px;
  }
}

.device-icon {
  color: white;
  font-size: 80px;
}

#add-device-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 72px;
  height: 72px;
  z-index: 100;
}

@media (max-width: 600px) {
  #add-device-button {
    right: 16px;
    bottom: 16px;
  }
}

.group-chooser-tab-group {
  display: inline-flex !important;
  width: calc(100% - 53px);
}

.add-group-button {
  width: 49px;
  height: 49px;
}
